<h1 class="centered-h1">Most recent listings</h1>

<div class="thumbnails h-full">
	<% @listings.each do |p| %>
		<a href=<%= listing_path(p) %>>
			<div class="listing-image container" style="background-image:url(<%= p.photo %>); background-size:cover">
				<h3><%= p.name %>
				<br>
				<%= p.formatted_price %></h3>
			</div>
		</a>
	<% end %>
	<div class="listing-image placeholder"></div>
	<div class="listing-image placeholder"></div>
</div>