/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/*BROWSER STYLE RESET*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, h1, h2, h3, h4, h5, h6, p,
a, img, strong, ol, ul, li, fieldset, form, label,
article, aside, footer, header,
nav, section, main {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: middle;
	box-sizing:border-box;
}
article, footer, header, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}


/*POSITIONING*/

.container {
	display:block;
}

.container:before,
.container:after {
  content: "";
  display: table;
}
.container:after {
  clear: both;
}
.container {
  zoom: 1;
}

.right { 	float:right;	}
.left {		float:left;		}

.h-full {
	width:100%;
}

.h-half{
	width: 50%;
}

.h-center {
	margin: auto;
}

.v-full {
	height: 100%;
}

header {
	height: 4em;
	position: fixed;
	top:0;
	padding:1em;
}

.logo, .logo-img {
	display: inline-block;
	max-height: 2.5em;
}

nav {
	height: 3em;
	position: fixed;
	top:4em;
	padding:1em;
}

main {
	margin: 9em 10% 3em 10%;
}

.form {
	width: 60%;
	margin: 0 20%;
}

input, textarea {
	width:100%;
	margin-bottom: 1em;
}

input[type="submit"] {
	width: 50%;
	margin:0 ;
}

.form h1 { margin-bottom: 1em;}



/*VISUAL STYLING*/

a {
	text-decoration: none;
}

.dark a, .medium a {
	color:#99FF99;
}

a:hover, a:active {
	color: white;
}

.medium {
	background-color: forestgreen;
	color: white;
}

.dark {
	background-color: #003300;
	color: white;
}

.light {
	background-color: white;
	color: #003300;
}

.light a {
	color: forestgreen;
}

.light a:hover, .light a:active {
	color:#003300;
}

.logo {
	font-style: italic;
}

nav a {
	font-weight: bold;
	font-family: serif;
	text-decoration: none;
}
