<h1 class="centered-h1">All Categories</h1>

<div class="thumbnails h-full">
	<% @categories.each do |c| %>
		<a href=<%= category_path(c) %>>
			<div class="listing-image container" style="background-image:url(<%= c.listings.last.photo unless c.listings.empty? %>); background-size:cover">
				<h3><%= c.name %> <br> </h3>
			</div>
		</a>
	<% end %>
	<div class="listing-image placeholder"></div>
	<div class="listing-image placeholder"></div>
</div>