<h2>Reviews for <%= @product.name %></h2>

<% @product.reviews.each do |review| %>
	<% unless review.user.nil? %>
		<article>
			<strong><%= review.comment %></strong><br>
			<em>Written by <%= review.user.username %> on <%= review.created_at %></em>
		</article>
	<% end %>
<% end %>