
<div class="thumbnails h-full">
	<% @products.each do |p| %>
		<a href=<%= product_path(p) %>>
			<div class="product-image container" style="background-image:url(<%= p.photo %>)">
				<h3><%= p.name %>
				<br>
				$<%= p.formatted_price %></h3>
			</div>
		</a>
	<% end %>
	<div class="product-image placeholder"></div>
	<div class="product-image placeholder"></div>
</div>