
<div class="thumbnails h-full">
	<% @products.each do |p| %>
		<div class="square-box dark container">
			<h3><%= link_to "#{p.name}", product_path(p) %>
			<%= p.formatted_price %></h3>
			<p><%= p.description %></p>
		</div>
	<% end %>
</div>